[submodule "plugin/xbCode"]
	path = plugin/xbCode
	url = https://gitee.com/xbcode-plugin/xbCode.git
[submodule "plugin/xbUpload"]
	path = plugin/xbUpload
	url = https://gitee.com/xbcode-plugin/xbUpload.git
[submodule "plugin/xbCrontab"]
	path = plugin/xbCrontab
	url = https://gitee.com/xbcode-plugin/xbCrontab.git
[submodule "plugin/xbDeveloper"]
	path = plugin/xbDeveloper
	url = https://gitee.com/xbcode-plugin/xbDeveloper.git
